*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 130px 80px auto 100px;
    min-height: 100vh;
    
}

header{
    grid-area: header;
    border: 3px solid;
}

.cont-logo-header{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: gold;
}

main{
    grid-area: main;
    border: 3px solid grey;
    background-color: #2c3e50;
}

footer{
    grid-area: footer;
    border: 3px solid yellowgreen;
    background-color: #2c3e50;
    color: blanchedalmond;
}

nav{
    grid-area: nav;
    border: 3px solid yellow;
    background-color: #2c3e50;
    color: beige;
    min-width: 200px;
}

.logo-header{
    width: 130px;
    height: 130px;
}

.pie-pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.grilla{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}

.grilla-portafolio{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}

.card{
    border: 4px solid grey;
    grid-template-columns: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: papayawhip;
    color: #2c3e50;
    min-width: 100%;
    overflow: hidden;
    padding: 20px;
}

.card-portafolio{
    border: 4px solid grey;
    grid-template-columns: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: papayawhip;
    color: #2c3e50;
    min-width: 100%;
    overflow: hidden;
    padding: 20px;
    background-size: cover;
}

.img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: grayscale(0);
}

.img:hover{
    filter: grayscale(100);
    scale: 1.05;
    border-radius: 6px;
}

.boton{
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(170, 169, 241);
    color: #0a0461;
    transform: scale(1.2);
    border-radius: 8px;
}

.menu-check { display: none; }

.hamburger {
  display: flex;
  padding: 20px;
  font-size: 30px; 
  cursor: pointer;
  color: #f0eaea;
  z-index: 1001;
  position: relative;
}

.nav-links {
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100vh;
  background: #2c3e50;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  transition: 0.4s;
  list-style: none;
  z-index: 1000;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  display: block;
}

.menu-check:checked ~ .nav-links {
  left: 0;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.portafolio{
    background-color: peachpuff;
    align-items: center;
    gap: 10px;
}

.boton-portafolio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.box-paisajes{
    min-width: 500px;
    min-height: 1000px;
    background-image: url(../images/paisajes/desierto-florido/IMG_7790.jpg);
    background-size: cover;
    background-position: center;
    animation-name: changeImage;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes changeImage {
    0%{
        background-image: url(../images/paisajes/desierto-florido/IMG_7790.jpg);
    }
    20%{
        background-image: url(../images/paisajes/desierto-florido/IMG_7852.jpg);
    }
    40%{
        background-image: url(../images/paisajes/desierto-florido/IMG_7865.jpg);
    }
    60%{
        background-image: url(../images/paisajes/desierto-florido/IMG_7866.jpg);
    }
    80%{
        background-image: url(../images/paisajes/desierto-florido/IMG_7903.jpg);
    }
    100%{
        background-image: url(../images/paisajes/desierto-florido/IMG_7907-1.jpg);
    }
}

@media (min-width: 768px) {
body{
        grid-template-areas: 
        "headr header"
        "nav main"
        "footer footer";
        grid-template-columns: 200px auto;
        grid-template-rows: auto 100% 120px;
    }
  .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
  }

    .grilla-portafolio{
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
  }

  .hamburger { display: none; }

  .nav-links {
    left: 0;
    width: 200px;
    background: #d3cde9;
    border-right: 1px solid #ddd;
  }

  .nav-links li a {
    color: #333;
  }
}

